
*,
::after,
::before{
    box-sizing: border-box
}

#content{
    font-family:'Poppins', sans-serif;
    background-image: url("../images/General images/bg1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
   
}
